:root {
  /* Pink */
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #fceef2;
  --cui-primary-50-rgb: 252, 238, 242;
  --cui-primary-100: #fadee4;
  --cui-primary-100-rgb: 250, 222, 228;
  --cui-primary-200: #f5bcc9;
  --cui-primary-200-rgb: 245, 188, 201;
  --cui-primary-300: #ef9baf;
  --cui-primary-300-rgb: 239, 155, 175;
  --cui-primary-400: #e86986;
  --cui-primary-400-rgb: 232, 105, 134;
  --cui-primary-500: #e0375e;
  --cui-primary-500-rgb: 224, 55, 94;
  --cui-primary-600: #c11e44;
  --cui-primary-600-rgb: 193, 30, 68;
  --cui-primary-700: #b21c3f;
  --cui-primary-700-rgb: 178, 28, 63;
  --cui-primary-800: #941734;
  --cui-primary-800-rgb: 148, 23, 52;
  --cui-primary-900: #85152f;
  --cui-primary-900-rgb: 133, 21, 47;
  --cui-primary: #d12049;
  --cui-primary-rgb: 209, 32, 73;

  /* Light */
  --cui-bg-app-bar: #ffffff;
  --cui-bg-app-bar-rgb: 255, 255, 255;
  --cui-bg-app-bar-border: #ffffff;
  --cui-bg-app-bar-border-rgb: 255, 255, 255;
  --cui-bg-banner: #ffffff;
  --cui-bg-banner-rgb: 255, 255, 255;
  --cui-bg-nav: #141414;
  --cui-bg-nav-rgb: 20, 20, 20;
  --cui-bg-nav-border: #1f1f1f;
  --cui-bg-nav-border-rgb: 31, 31, 31;
  --cui-bg-settings-border: #e9e9e9;
  --cui-bg-settings-border-rgb: 233, 233, 233;
  --cui-bg-card: #ffffff;
  --cui-bg-card-rgb: 255, 255, 255;
  --cui-bg-card-border: #ffffff;
  --cui-bg-card-border-rgb: 255, 255, 255;
  --cui-bg-default: #f1f1f1;
  --cui-bg-default-rgb: 241, 241, 241;
  --cui-bg-dialog: #ffffff;
  --cui-bg-dialog-rgb: 255, 255, 255;
  --cui-bg-disabled: #ececec;
  --cui-bg-disabled-rgb: 236, 236, 236;
  --cui-bg-hover: rgba(182, 182, 182, 0.12);
  --cui-bg-hover-rgb: 182, 182, 182;
  --cui-bg-status-bar: #d8d8d8;
  --cui-bg-status-bar-rgb: 216, 216, 216;
  --cui-menu-default: #ffffff;
  --cui-menu-default-rgb: 255, 255, 255;
  --cui-menu-secondary: #e9e9e9;
  --cui-menu-secondary-rgb: 244, 244, 244;
  --cui-menu-border: #ebebeb;
  --cui-menu-border-rgb: 235, 235, 235;
  --cui-menu-title: #ffffff;
  --cui-menu-title-rgb: 255, 255, 255;
  --cui-menu-title-border: #e6e6e6;
  --cui-menu-title-border-rgb: 230, 230, 230;
  --cui-text-default: #383838;
  --cui-text-default-rgb: 56, 56, 56;
  --cui-text-secondary: #8b8b8b;
  --cui-text-secondary-rgb: 139, 139, 139;
  --cui-text-third: #6e6e6e;
  --cui-text-third-rgb: 110, 110, 110;
  --cui-text-hint: #b9b9b9;
  --cui-text-hint-rgb: 185, 185, 185;
  --cui-text-disabled: #bbbbbb;
  --cui-text-disabled-rgb: 187, 187, 187;
  --cui-border: #ececec;
  --cui-border-rgb: 236, 236, 236;
  --cui-divider: #ebebeb;
  --cui-divider-rgb: 235, 235, 235;
  --cui-icon: #868686;
  --cui-icon-rgb: 134, 134, 134;
  --cui-mat-icon: #888888;
  --cui-mat-icon-rgb: 136, 136, 136;
}

[data-theme='dark'] {
  --cui-bg-app-bar: #202020;
  --cui-bg-app-bar-rgb: 32, 32, 32;
  --cui-bg-app-bar-border: #252525;
  --cui-bg-app-bar-border-rgb: 37, 37, 37;
  --cui-bg-banner: #1d1d1d;
  --cui-bg-banner-rgb: 29, 29, 29;
  --cui-bg-nav: #0e0e0e;
  --cui-bg-nav-rgb: 14, 14, 14;
  --cui-bg-nav-border: #202020;
  --cui-bg-nav-border-rgb: 32, 32, 32;
  --cui-bg-settings-border: #2a2a2a;
  --cui-bg-settings-border-rgb: 42, 42, 42;
  --cui-bg-card: #2e2e2e;
  --cui-bg-card-rgb: 46, 46, 46;
  --cui-bg-card-border: #383838;
  --cui-bg-card-border-rgb: 55, 55, 55;
  --cui-bg-default: #121212;
  --cui-bg-default-rgb: 18, 18, 18;
  --cui-bg-dialog: #333333;
  --cui-bg-dialog-rgb: 51, 51, 51;
  --cui-bg-disabled: #1a1a1a;
  --cui-bg-disabled-rgb: 26, 26, 26;
  --cui-bg-hover: rgba(255, 255, 255, 0.05);
  --cui-bg-hover-rgb: 255, 255, 255;
  --cui-bg-status-bar: #292929;
  --cui-bg-status-bar-rgb: 41, 41, 41;
  --cui-menu-default: #202020;
  --cui-menu-default-rgb: 32, 32, 32;
  --cui-menu-secondary: #202020;
  --cui-menu-secondary-rgb: 32, 32, 32;
  --cui-menu-border: #363636;
  --cui-menu-border-rgb: 44, 44, 44;
  --cui-menu-title: #2e2e2e;
  --cui-menu-title-rgb: 46, 46, 46;
  --cui-menu-title-border: #3f3f3f;
  --cui-menu-title-border-rgb: 49, 49, 49;
  --cui-text-default: #e2e2e2;
  --cui-text-default-rgb: 226, 226, 226;
  --cui-text-secondary: #bbbbbb;
  --cui-text-secondary-rgb: 187, 187, 187;
  --cui-text-third: #929292;
  --cui-text-third-rgb: 146, 146, 146;
  --cui-text-hint: #616161;
  --cui-text-hint-rgb: 97, 97, 97;
  --cui-text-disabled: #696969;
  --cui-text-disabled-rgb: 105, 105, 105;
  --cui-border: rgba(238, 238, 238, 0.12);
  --cui-border-rgb: 238, 238, 238;
  --cui-divider: rgba(243, 243, 243, 0.12);
  --cui-divider-rgb: 243, 243, 243;
  --cui-icon: #b6b6b6;
  --cui-icon-rgb: 182, 182, 182;
  --cui-mat-icon: #b6b6b6;
  --cui-mat-icon-rgb: 182, 182, 182;
}

[data-theme-color='blgray'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #eff2f3;
  --cui-primary-50-rgb: 239, 242, 243;
  --cui-primary-100: #dfe5e8;
  --cui-primary-100-rgb: 223, 229, 232;
  --cui-primary-200: #bfcbd1;
  --cui-primary-200-rgb: 191, 203, 209;
  --cui-primary-300: #a0b1b9;
  --cui-primary-300-rgb: 160, 177, 185;
  --cui-primary-400: #8097a2;
  --cui-primary-400-rgb: 128, 151, 162;
  --cui-primary-500: #708a97;
  --cui-primary-500-rgb: 112, 138, 151;
  --cui-primary-600: #56717d;
  --cui-primary-600-rgb: 86, 113, 125;
  --cui-primary-700: #4d646f;
  --cui-primary-700-rgb: 77, 100, 111;
  --cui-primary-800: #3a4b53;
  --cui-primary-800-rgb: 58, 75, 83;
  --cui-primary-900: #263238;
  --cui-primary-900-rgb: 37, 49, 55;
  --cui-primary: #607d8b;
  --cui-primary-rgb: 96, 125, 139;
}

[data-theme-color='blue'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #e7f3ff;
  --cui-primary-50-rgb: 231, 243, 255;
  --cui-primary-100: #cee6ff;
  --cui-primary-100-rgb: 206, 230, 255;
  --cui-primary-200: #9dceff;
  --cui-primary-200-rgb: 157, 206, 255;
  --cui-primary-300: #6cb5ff;
  --cui-primary-300-rgb: 108, 181, 255;
  --cui-primary-400: #54a9ff;
  --cui-primary-400-rgb: 84, 169, 255;
  --cui-primary-500: #3b9dff;
  --cui-primary-500-rgb: 59, 157, 255;
  --cui-primary-600: #0977e6;
  --cui-primary-600-rgb: 9, 119, 230;
  --cui-primary-700: #086acc;
  --cui-primary-700-rgb: 8, 106, 204;
  --cui-primary-800: #064f99;
  --cui-primary-800-rgb: 6, 79, 153;
  --cui-primary-900: #043566;
  --cui-primary-900-rgb: 4, 53, 102;
  --cui-primary: #0a84ff;
  --cui-primary-rgb: 10, 132, 255;
}

[data-theme-color='brown'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #f2eeed;
  --cui-primary-50-rgb: 242, 238, 237;
  --cui-primary-100: #e4ddda;
  --cui-primary-100-rgb: 228, 221, 218;
  --cui-primary-200: #c9bbb6;
  --cui-primary-200-rgb: 201, 187, 182;
  --cui-primary-300: #af9991;
  --cui-primary-300-rgb: 175, 153, 145;
  --cui-primary-400: #a1887f;
  --cui-primary-400-rgb: 161, 136, 127;
  --cui-primary-500: #94776d;
  --cui-primary-500-rgb: 148, 119, 109;
  --cui-primary-600: #6d4d41;
  --cui-primary-600-rgb: 109, 77, 65;
  --cui-primary-700: #61443a;
  --cui-primary-700-rgb: 97, 68, 58;
  --cui-primary-800: #49332b;
  --cui-primary-800-rgb: 73, 51, 43;
  --cui-primary-900: #30221d;
  --cui-primary-900-rgb: 48, 34, 29;
  --cui-primary: #795548;
  --cui-primary-rgb: 121, 85, 72;
}

[data-theme-color='gray'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #efeff0;
  --cui-primary-50-rgb: 239, 239, 240;
  --cui-primary-100: #e0e0e0;
  --cui-primary-100-rgb: 224, 224, 224;
  --cui-primary-200: #c0c1c1;
  --cui-primary-200-rgb: 192, 193, 193;
  --cui-primary-300: #a1a1a3;
  --cui-primary-300-rgb: 161, 161, 163;
  --cui-primary-400: #919293;
  --cui-primary-400-rgb: 145, 146, 147;
  --cui-primary-500: #818284;
  --cui-primary-500-rgb: 129, 130, 132;
  --cui-primary-600: #58595b;
  --cui-primary-600-rgb: 88, 89, 91;
  --cui-primary-700: #4e4f51;
  --cui-primary-700-rgb: 78, 79, 81;
  --cui-primary-800: #3b3b3d;
  --cui-primary-800-rgb: 59, 59, 61;
  --cui-primary-900: #272828;
  --cui-primary-900-rgb: 39, 40, 40;
  --cui-primary: #626365;
  --cui-primary-rgb: 98, 99, 101;
}

[data-theme-color='green'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #f0faf0;
  --cui-primary-50-rgb: 240, 250, 240;
  --cui-primary-100: #e0f5e0;
  --cui-primary-100-rgb: 224, 245, 224;
  --cui-primary-200: #c2ebc2;
  --cui-primary-200-rgb: 194, 235, 194;
  --cui-primary-300: #a3e2a3;
  --cui-primary-300-rgb: 163, 226, 163;
  --cui-primary-400: #94dd94;
  --cui-primary-400-rgb: 148, 221, 148;
  --cui-primary-500: #85d885;
  --cui-primary-500-rgb: 133, 216, 133;
  --cui-primary-600: #5cb95c;
  --cui-primary-600-rgb: 92, 185, 92;
  --cui-primary-700: #52a552;
  --cui-primary-700-rgb: 82, 165, 82;
  --cui-primary-800: #3d7c3d;
  --cui-primary-800-rgb: 61, 124, 61;
  --cui-primary-900: #295229;
  --cui-primary-900-rgb: 41, 82, 41;
  --cui-primary: #66ce66;
  --cui-primary-rgb: 102, 206, 102;
}

[data-theme-color='orange'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #fff4e6;
  --cui-primary-50-rgb: 255, 244, 230;
  --cui-primary-100: #ffeacc;
  --cui-primary-100-rgb: 255, 234, 204;
  --cui-primary-200: #ffd599;
  --cui-primary-200-rgb: 255, 213, 153;
  --cui-primary-300: #ffbf66;
  --cui-primary-300-rgb: 255, 191, 102;
  --cui-primary-400: #ffb54d;
  --cui-primary-400-rgb: 255, 181, 77;
  --cui-primary-500: #ffaa33;
  --cui-primary-500-rgb: 255, 170, 51;
  --cui-primary-600: #e68600;
  --cui-primary-600-rgb: 230, 134, 0;
  --cui-primary-700: #cc7700;
  --cui-primary-700-rgb: 204, 119, 0;
  --cui-primary-800: #995900;
  --cui-primary-800-rgb: 153, 89, 0;
  --cui-primary-900: #663c00;
  --cui-primary-900-rgb: 102, 60, 0;
  --cui-primary: #ff9500;
  --cui-primary-rgb: 255, 149, 0;
}

[data-theme-color='purple'] {
  --cui-primary-0: #ffffff;
  --cui-primary-0-rgb: 255, 255, 255;
  --cui-primary-50: #f2edf9;
  --cui-primary-50-rgb: 242, 237, 249;
  --cui-primary-100: #e5daf3;
  --cui-primary-100-rgb: 229, 218, 243;
  --cui-primary-200: #cbb6e7;
  --cui-primary-200-rgb: 203, 182, 231;
  --cui-primary-300: #b091da;
  --cui-primary-300-rgb: 176, 145, 218;
  --cui-primary-400: #a37fd4;
  --cui-primary-400-rgb: 163, 127, 212;
  --cui-primary-500: #966dce;
  --cui-primary-500-rgb: 150, 109, 206;
  --cui-primary-600: #7041af;
  --cui-primary-600-rgb: 112, 65, 175;
  --cui-primary-700: #633a9b;
  --cui-primary-700-rgb: 99, 58, 155;
  --cui-primary-800: #4a2b74;
  --cui-primary-800-rgb: 74, 43, 116;
  --cui-primary-900: #321d4e;
  --cui-primary-900-rgb: 50, 29, 78;
  --cui-primary: #7c48c2;
  --cui-primary-rgb: 124, 72, 194;
}
